@font-face {
	font-family: 'RobotoSlab';
	src: url('../font/RobotoSlab/RobotoSlab-Bold.eot');
	src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
	url('../font/RobotoSlab/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
	url('../font/RobotoSlab/RobotoSlab-Bold.woff') format('woff'),
	url('../font/RobotoSlab/RobotoSlab-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}