// Имя шрифта 'Inter';
// Имя шрифта в нижнем регистре
// Имя файла шрифта
// font-weight

@font-face {
    font-family: 'Inter';
    src: url('../font/inter/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../font/inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/inter/Inter-Regular.woff2') format('woff2'),
        url('../font/inter/Inter-Regular.woff') format('woff'),
        url('../font/inter/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/inter/Inter-LightBETA.eot');
    src: local('Inter Light BETA'), local('Inter-LightBETA'),
        url('../font/inter/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
        url('../font/inter/Inter-LightBETA.woff2') format('woff2'),
        url('../font/inter/Inter-LightBETA.woff') format('woff'),
        url('../font/inter/Inter-LightBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/inter/Inter-SemiBold.eot');
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
        url('../font/inter/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/inter/Inter-SemiBold.woff2') format('woff2'),
        url('../font/inter/Inter-SemiBold.woff') format('woff'),
        url('../font/inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/inter/Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../font/inter/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/inter/Inter-Bold.woff2') format('woff2'),
        url('../font/inter/Inter-Bold.woff') format('woff'),
        url('../font/inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../font/inter/Inter-ExtraLightBETA.eot');
    src: local('Inter Extra Light BETA'), local('Inter-ExtraLightBETA'),
        url('../font/inter/Inter-ExtraLightBETA.eot?#iefix') format('embedded-opentype'),
        url('../font/inter/Inter-ExtraLightBETA.woff2') format('woff2'),
        url('../font/inter/Inter-ExtraLightBETA.woff') format('woff'),
        url('../font/inter/Inter-ExtraLightBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}










